.body {
}

.assessmentText {
    text-align: center;
    font-size: 1.8em;
    font-weight: bolder;
}

.whatsNextButtonsContainer {
    display: flex;
    justify-content: center;
}

.oneMoreTimeButton {
    width: 300px;
    margin-top: 15px;
}
