.body {
}

.questionNumber {
    text-align: center;
}

.questionText {
    text-align: center;
    font-size: 1.8em;
    font-weight: bolder;
}

.buttonsContainer {
}

.answerOptionButton {
    background-color: #6081F8;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s all;
    width: 50%;
    height: 60px;
    font-size: 1.2em;
    border: 3px solid #09161c;
}

    .answerOptionButton:hover {
        background: #728ef5;
    }
