.pending {
    pointer-events: none;
    opacity: 0.4
}

/*.statusDiv {
    border: 1px #ccc solid;
    margin-top: 0.5rem;
    width:fit-content;
}*/

.anyStatusValue {
}

.pendingStatusValue {
    color: deeppink;
}

.okStatusValue {
    display: none;
    /*color: green;*/
}

.errorStatusValue {
    color: red;
}

/*.clearStatusButton {
    max-width: 1em;
    margin-left: auto;
    margin-right: 0em;
    text-align: right;
    cursor: pointer;
}*/
