* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.main-block {
  min-height: 800px;
  padding-top: 50px;
  background-image: url(../img/back-main.jpg);
  background-size: 100% auto;
}
.main-block__content {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-block__content h1 {
  color: #D7D7D7;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  margin: 0;
  margin-bottom: 70px;
}
.main-block__content p {
  width: 550px;
  color: #D7D7D7;
  font-size: 18px;
  line-height: 21px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}
.main-block__content p:last-child {
  margin-bottom: 70px;
}
.main-block__menu-reg {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.main-block__menu-reg a {
  text-decoration: none;
  margin-right: 30px;
}
.main-block__menu-reg a:last-child {
  margin-right: 0;
}
.main-block__button {
  display: flex;
  width: 130px;
  height: 40px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.button__blue {
  background-color: #6081F8;
  color: #D7D7D7;
}
.button__green {
  background-color: #13B323;
  color: #D7D7D7;
}
.button__orange {
  background-color: #B76A10;
  color: #D7D7D7;
}

.form {
  width: 450px;
  padding-bottom: 48px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: none;
  padding-left: 48px;
}
.form__frame {
  width: 355px;
}
.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__container h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 45px;
  text-align: center;
}
.form__container label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 10px;
  align-self: flex-start;
}
.form__container input {
  width: 355px;
  height: 43px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.reg-form {
  height: 520px;
}

.auth-form {
  height: 471px;
}

.text-input {
  margin-bottom: 30px;
}

.pass-input {
  margin-bottom: 10px;
}
.pass-input__repeat {
  margin-bottom: 45px;
}

.reg-button {
  width: 350px;
  height: 45px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
}
.reg-button__login {
  background: #13B223;
  margin-bottom: 10px;
}
.reg-button__closed {
  background: #DB2626;
}

.auth-pass-input {
  margin-bottom: 45px;
}

.title {
  color: #D7D7D7;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  margin: 0;
  margin-bottom: 70px;
}

.dictionaries-block {
  background: #09161c;
  min-height: 300px;
  padding-top: 20px;
  padding-left: 20px;
}
.dictionaries-block__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.dictionaries-block__title {
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.cards-item {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 10px;
  padding-top: 20px;
  margin-right: 40px;
  margin-bottom: 40px;
}
.cards-item:nth-child(3n) {
  margin-right: 0;
}
.cards-item__title-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.cards-item__title-block a {
  width: 20px;
  height: 20px;
}
.cards-item__title {
  color: #D7D7D7;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
  margin-right: 10px;
}
.cards-item__img {
  width: 20px;
  -o-object-fit: contain;
  object-fit: contain;
}
.cards-item__text {
  color: #D7D7D7;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
}
.cards-item__button {
  display: flex;
  width: 130px;
  height: 40px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  border: none;
}
.cards-item__button-create {
  display: flex;
  width: 260px;
  height: 80px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 24px;
  border: none;
}/*# sourceMappingURL=style.css.map */