.default {
}

.addWordButton {
    background-color: #118e1e;
    color: #FFFFFF;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
}
