.default {
}

.wordLabel {
}

.wordValue {
    display:inline-block;
    width: 300px
}

.translationLabel {
    margin-left: 120px;
}

.translationValue {
    display: inline-block;
    width: 300px
}

.deleteButton {
    margin-left: 60px;
}
