.default {
}

.wordValue {
    display: inline-block;
    width: 440px
}

    .wordValue::before {
        content: "Слово: ";
    }

.translationValue {
    display: inline-block;
    width: 440px
}

    .translationValue::before {
        content: "Перевод: ";
    }

.deleteButton {
    margin-left: 30px;
    background-color: #B76A10;
    color: #D7D7D7;
    width: 110px;
    height: 30px;
    border: none;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
}
