.default {
    color: #ffffff
}

.item {
    margin-bottom: 10px;
}

    .item:last-child {
        margin-bottom: 0;
    }

.creatorSection {
    margin-top: 10px;
    margin-bottom: 10px;
}

.translationsFileSection {
}
