.default {
    display: flex;
}

.addFromFileButton {
    background-color: #118e1e;
    color: #FFFFFF;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
    flex-wrap: wrap;
}

.loadSampleFileButton {
    background-color: #728ef5;
    color: #FFFFFF;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
    flex-wrap: wrap;
}

.errorMessage {
    color: red;
}
